.container
    .jumbotron
        h1 MEAN Kitchen
        p A small web app using the MEAN stack.

    .row
        .col-md-6
            div(ng-include="'/partials/featured-recipes'")

        .col-md-6
            div(ng-include="'/partials/new-recipes'")