.jumbotron
    h1 MEAN Kitchen
    p
        | Welcome to MEAN Kitchen. <br>
        | A small web app implemented using the MEAN stack.
    p
        a.btn.btn-primary.btn-lg(href="https://en.wikipedia.org/wiki/MEAN_(software_bundle)") Learn More