body
  padding-top 70px

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2
    padding: 10px

.navbar-form
  .form-group
    margin-left 10px

  button
    margin-left 10px

.jumbotron
.panel
.well
.img-preview
  -webkit-box-shadow: 2px 2px 10px -2px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 10px -2px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 10px -2px rgba(0,0,0,0.5);

.recipe-list
.recipe-details
  .title
    color darkorange

  .well
    cursor pointer
    &:hover
      border-color darkorange
      transform scale(1.02, 1.02)

.img-preview
  max-width 240px