
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header"><a ui-sref="app.home" class="navbar-brand">MEAN Kitchen</a></div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a ui-sref="app.home">Home</a></li>
        <li><a ui-sref="app.recipes">Recipes</a></li>
        <li ng-hide="vm.identity.isAuthenticated()"><a ui-sref="app.signUp">Sign Up</a></li>
      </ul>
      <div class="navbar-right">
        <form ng-hide="vm.identity.isAuthenticated()" class="navbar-form">
          <div class="form-group">
            <input placeholder="Email" ng-model="vm.username" class="form-control"/>
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" ng-model="vm.password" class="form-control"/>
          </div>
          <button ng-click="vm.logIn()" class="btn btn-primary">Log In</button>
        </form>
        <ul ng-show="vm.identity.isAuthenticated()" class="nav navbar-nav">
          <li class="dropdown"><a href="" data-toggle="dropdown" class="dropdown-toggle">{{vm.identity.currentUser.firstName + " " + vm.identity.currentUser.lastName}}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li ng-show="vm.identity.currentUser.isAdmin()"><a ui-sref="app.userList">User Admin</a></li>
              <li><a ui-sref="app.profile">Profile</a></li>
              <li><a href="" ng-click="vm.logOut()">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>