.navbar.navbar-default.navbar-fixed-top
    .container
        .navbar-header
            a.navbar-brand(href="/") MEAN Kitchen

        .navbar-collapse.collapse
            ul.nav.navbar-nav
                li
                    a(href="/") Home
                li(ng-hide="vm.identity.isAuthenticated()")
                    a(href="/app/sign-up") Sign Up

            .navbar-right
                form.navbar-form(ng-hide="vm.identity.isAuthenticated()")
                    .form-group
                        input.form-control(placeholder="Email", ng-model="vm.username")
                    .form-group
                        input.form-control(type="password", placeholder="Password", ng-model="vm.password")
                    button.btn.btn-primary(ng-click="vm.logIn()") Log In

                ul.nav.navbar-nav(ng-show="vm.identity.isAuthenticated()")
                    li.dropdown
                        a.dropdown-toggle(href="", data-toggle="dropdown")
                            | {{vm.identity.currentUser.firstName + " " + vm.identity.currentUser.lastName}}
                            b.caret
                        ul.dropdown-menu
                            li(ng-show="vm.identity.currentUser.isAdmin()")
                                // TODO: replace with ui-sref.
                                a(href="/app/user-list") User Admin
                            li
                                a(href="/app/profile") Profile
                            li
                                a(href="", ng-click="vm.logOut()") Log Out