.panel.panel-success
    .panel-heading.text-center New Recipes
    .panel-body
        .row
            .col-md-12
                p {{vm.test}}

.panel.panel-warning
    .panel-heading.text-center Popular Recipes
    .panel-body
        .row
            .col-md-12
                p Second Panel