<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>MEAN Kitchen</title>
    <!-- HTML5 routing.-->
    <base href="/">
    <!-- Favicon.-->
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!-- CSS.-->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/toastr/toastr.css">
    <link rel="stylesheet" href="/css/site.css">
  </head>
  <body class="{{bodyCss ? 'page-' + bodyCss : 'page-default'}}">
    <!-- Navigation bar.-->
    <ui-view name="nav"></ui-view>
    <!-- Content.-->
    <div class="container">
      <div class="row">
        <!-- Main content.-->
        <div class="col-md-9">
          <div ui-view></div>
        </div>
        <!-- Sidebar.-->
        <div class="col-md-3">
          <ui-view name="sidebar"></ui-view>
        </div>
      </div>
    </div>
    <!-- Footer.-->
    <ui-view name="footer"></ui-view>
    <!-- jQuery-->
    <script type="text/javascript" src="/vendor/jquery/dist/jquery.js"></script>
    <!-- Bootstrap-->
    <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <!-- Angular.js-->
    <script type="text/javascript" src="/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="/vendor/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="/vendor/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- Toastr-->
    <script type="text/javascript" src="/vendor/toastr/toastr.js"></script>
    <!-- Lodash-->
    <script type="text/javascript" src="/vendor/lodash/lodash.js"></script>
    <!-- Local Angular.js files.-->
    <script type="text/javascript" src="/app.min.js"></script>
  </body>
</html>