extends ../includes/layout
block main-content
    // Navigation bar.
    ui-view(name="nav")
    // Content.
    .container
        .row
            // Main content.
            .col-md-9
                div(ui-view)
            // Sidebar.
            .col-md-3
                ui-view(name="sidebar")
    // Footer.
    ui-view(name="footer")