
<div ng-hide="!vm.recipe._id" class="well recipe-details">
  <div class="row">
    <div class="col-md-8 title">
      <div class="row">
        <div class="col-md-12">
          <h3>{{vm.recipe.isStarred() ? '★' : '☆' }} {{vm.recipe.name}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button ng-show="vm.identity.isAuthenticated()" ng-click="vm.toggleStar()" class="btn btn-primary">{{vm.recipe.isStarred() ? 'Unstar' : 'Star' }}</button>
          <h6 ng-show="!vm.identity.isAuthenticated()">Please sign in to star recipes.</h6>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="pull-right">{{vm.recipe.time}} minutes</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Ingredients</h4>
      <ul>
        <li ng-repeat="ingredient in vm.recipe.ingredients">{{vm.getIngredientDisplay(ingredient)}}</li>
      </ul>
    </div>
    <div class="col-md-6"><img ng-src="{{vm.recipe.url}}" class="img-preview pull-right"/></div>
  </div>
</div>
<div ng-show="!vm.recipe._id" class="well">
  <h4>Sorry, this recipe doesn't exist or may have been removed.</h4>
</div>