.well.recipe-details(ng-hide="!vm.recipe._id")
    .row
        .col-md-8.title
            .row
                .col-md-12
                    h3 {{vm.recipe.isStarred() ? '★' : '☆' }} {{vm.recipe.name}}
            .row
                .col-md-12
                    button.btn.btn-primary(ng-show="vm.identity.isAuthenticated()", ng-click="vm.toggleStar()") {{vm.recipe.isStarred() ? 'Unstar' : 'Star' }}
                    h6(ng-show="!vm.identity.isAuthenticated()") Please sign in to star recipes.
        .col-md-4
            h3.pull-right {{vm.recipe.time}} minutes

    .row
        .col-md-6
            h4 Ingredients
            ul
                li(ng-repeat="ingredient in vm.recipe.ingredients") {{vm.getIngredientDisplay(ingredient)}}

        .col-md-6
            img.img-preview.pull-right(ng-src="{{vm.recipe.url}}")

.well(ng-show="!vm.recipe._id")
    h4 Sorry, this recipe doesn't exist or may have been removed.