doctype

html(ng-app="app")
    head
        title MEAN Kitchen

        // HTML5 routing.
        base(href="/")

        // Favicon.
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")

        // CSS.
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")

    body(class="{{bodyCss ? 'page-' + bodyCss : 'page-default'}}")
        block main-content
        include scripts